/* Webfont: Thunder-BoldLC */@font-face {
    font-family: 'Thunder';
    src: url('/fonts/Thunder/Thunder-BoldLC.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Thunder/Thunder-BoldLC.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/Thunder/Thunder-BoldLC.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

